<%= render "partials/navbar" %>

<div class='container text-center'>
  <br><h3>Edit Assignment Form</h3><br>
</div>
<div class='container text-center'>
  <%= bootstrap_form_for(@assignment, url: student_assignment_path) do |f| %>
    <%= f.text_field :title %><br>

    <%= f.date_select :due_date %><br><br>

    <%= f.primary %>
  <% end %>
</div>
