<%= render "partials/navbar" %>

<div class='container text-center'>
  <h2>Current Assignments</h2><br>

  <table class='center'>
    <tr>
      <th>Title</th>
      <th>Course Name</th>
      <th>Due Date</th>
      <th>View</th>
    </tr>
    <% @student.assignments.all.each do |assignment| %>
      <% if assignment.course %>
        <tr>
          <td><%= assignment.title %></td>
          <td><%= assignment.course.course_name %></td>
          <td><%= assignment.due_date %></td>
          <td><%= link_to "View/Edit Assignment", student_assignment_path(@student, assignment) %></td>
        </tr>
      <% end %>
    <% end %>
  </table><br><br><br><br><br>
</div>

<div class='container text-center'>
  <h3>Due Soon</h3>
  <table class='center'>
    <tr>
      <th>Title</th>
      <th>Due Date</th>
    </tr>
    <% @student.assignments.due_soon.each do |assignment| %>
      <tr>
        <td><%= assignment.title %></td>
        <td><%= assignment.due_date %></td><br>
      </tr>
    <% end %><br>
  </table><br>

  <%= button_to "Add New Assignment", new_student_assignment_path, :class => "inbox-sf-add-btn tip", :method => :get %>
</div>
