<%= render "partials/navbar" %>

<div class='container text-center'>
  <h2>New Assignment Form</h2>
  <h3>To add an assignment to your planner, please select or <a href="<%= new_student_course_path %>">create</a> a course first</h3>

  <%= form_for(@assignment, url: student_assignments_path) do |f| %>
    <% if @assignment.errors.any? %>
      <% @assignment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    <% end %><br>
    <%= f.hidden_field :student_id %>
    <%= f.label "Select Course:" %>
    <%= f.collection_select :course_id, @courses, :id, :course_name, prompt: false %><br><br>
    <%= f.label "Title" %><br>
    <%= f.text_field :title %><br><br>
    <%= f.label "Due Date:" %>
    <%= f.date_select :due_date %><br><br>
    <%= f.submit %>
    <% end %>
</div>
