<div class='container text-center'>
  <h3>Create Account</h3>
  <%= bootstrap_form_for(@student, url: signup_path) do |f| %>
        <% if @student.errors.any? %>
          <% @student.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        <% end %><br>

        <%= f.text_field :name %><br>

        <%= f.email_field :email %><br>

        <%= f.password_field :password %><br>
        <%= f.submit "Create my account" %>
  <% end %>
</div>
