<%= render "partials/navbar" %>

<div class='container text-center main-section'>
  <h1><%= @student.name %>'s User Dashboard</h1>
  <p>***REMEMBER if you used Google for signing up to reset your password <%= link_to "here", edit_student_path(@student) %>***<br>

  <div class='alert'>
      <h3>Due Soon</h3><br>
      <table class='table table-bordered table-hover center'>
        <tr>
          <th>Title</th>
          <th>Due Date</th>
        </tr>
        <% @assignments_due_soon.each do |assignment| %>
          <tr>
            <td><%= assignment.title %></td>
            <td><%= assignment.due_date %></td>
          </tr>
        <% end %>
      </table><br>
    <div class='homepage-button'>
      <%= button_to "View Assignments", student_assignments_path(@student), :class => "btn btn-light", :method => :get %>
    </div>
    <div class='homepage-button'>
      <%= button_to "Add Assignment", new_student_assignment_path(@student), :class => "btn btn-light", :method => :get %>
    </div>
  </div>

  <div class='main-subsection'>
    <h3> Your Schedule </h3><br>
    <table class='table table-bordered table-hover center'>
      <tr>
        <th>Course Name</th>
        <th>View</th>
      </tr>
      <% @courses.each do |course| %>
        <tr>
          <td><%= course.course_name %></td>
          <td><%= link_to "View/Edit Course", student_course_path(@student, course.id) %></td>
        </tr>
      <% end %>
    </table><br>
    <div class='homepage-button'>
      <%= button_to "View Courses", student_courses_path(@student), :class => "btn btn-light", :method => :get %>
    </div>
    <div class='homepage-button'>
      <%= button_to "Add Course", new_student_course_path(@student), :class => "btn btn-light", :method => :get %>
    </div><br>
  </div><br>

  <h3> Your Categories </h3>
  <%= link_to "View Categories", student_categories_path(@student) %>
  <br>
  <%= link_to "Add Category", new_student_category_path(@student) %>
  <br><br>
</div>
