<nav class="navbar navbar-dark bg-primary">
  <a class="navbar-brand" href="#">Student Planner</a>
  <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarsExample01" aria-controls="navbarsExample01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="navbar-collapse collapse" id="navbarsExample01" style="">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <%= link_to 'Home',  student_path(@student), :class => "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to 'Courses',  student_courses_path(@student), :class => "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to 'Assignments',  student_assignments_path(@student), :class => "nav-link" %>
      </li>
    </ul>
  </div>
</nav>

<div class='container text-center'>
  <h1><%= @student.name %>'s User Dashboard</h1>
  <br>

  <h3>Assignment List</h3>
  <%= link_to "View Assignments", student_assignments_path(@student) %>
  <br>
  <%= link_to "Add Assignment", new_student_assignment_path(@student) %>

  <h3>Your Schedule</h3>
  <%= link_to "View Courses", student_courses_path(@student) %>
  <br>
  <%= link_to "Add Course", new_student_course_path(@student) %>
  <br><br>

  <a href="/logout">Logout</a>
</div>
