<%= render "partials/navbar" %>

<% if @course %>
  <div class='container text-center'>
    <br><h2><%= @course.course_name %></h2><br>
    <table class='center table-bordered table-hover'>
      <tr>
        <th>Assignment Title</th>
        <th>Course Name</th>
        <th>Due Date</th>
        <th>View</th>
      </tr>
      <% @course.assignments.all.each do |assignment| %>
        <% if assignment.course %>
          <tr>
            <td><%= assignment.title %></td>
            <td><%= assignment.course.course_name %></td>
            <td><%= assignment.due_date %></td>
            <td><%= link_to "View/Edit Assignment", student_assignment_path(@student, assignment) %></td>
          </tr>
        <% end %>
      <% end %>
    </table><br><br>

    <%= button_to "Add New Assignment", new_student_assignment_path, :class => "inbox-sf-add-btn tip", :method => :get %><br>
    <%= button_to "Edit Course", edit_student_course_path, :class => "inbox-sf-add-btn tip", :method => :get %><br>
    <%= button_to "Delete Course", student_course_path(@student), method: :delete, data: { confirm: "Remove course from your schedule? This will also remove all assignments from this course." } %>
  </div>
<% else %>
  <div class='container text-center'>
    <p>This course has no assignments yet.</p>
    <%= button_to "Add New Assignment", new_student_assignment_path, :class => "inbox-sf-add-btn tip", :method => :get %><br>
    <%= button_to "Edit Course", edit_student_course_path, :class => "inbox-sf-add-btn tip", :method => :get %><br>
    <%= button_to "Delete Course", student_course_path(@student), method: :delete, data: { confirm: "Remove course from your schedule? This will also remove all assignments from this course." } %>
  </div>
<% end %>
