<nav class="navbar navbar-dark bg-primary">
  <a class="navbar-brand" href="<%= student_path(@student) %>">Student Planner</a>
  <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarsExample01" aria-controls="navbarsExample01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="navbar-collapse collapse" id="navbarsExample01" style="">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <%= link_to 'Home',  student_path(@student), :class => "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to 'Courses',  student_courses_path(@student), :class => "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to 'Assignments',  student_assignments_path(@student), :class => "nav-link" %>
      </li>
    </ul>
  </div>
</nav>

<% if @course %>
  <div class='container text-center'>
    <h2><%= @course.course_name %></h2>
    <% @course.assignments.all.each do |assignment| %>
      <%= assignment.title %>, <%= assignment.course.course_name %>, <%= assignment.due_date %>
      <%= link_to "View/Edit Assignment", student_assignment_path(@student, assignment) %><br><br>
    <% end %>

    <%= button_to "Add New Assignment", new_student_assignment_path, :class => "inbox-sf-add-btn tip", :method => :get %><br>
    <%= button_to "Edit Course", edit_student_course_path, :class => "inbox-sf-add-btn tip", :method => :get %><br>
    <%= button_to "Delete Course", student_course_path(@student), method: :delete, data: { confirm: "Really?" } %>
  </div>
<% else %>
  <div class='container text-center'>
    <p>This course has no assignments yet.</p>
  </div>
<% end %>
