<!DOCTYPE html>
<html>
  <head>
    <title>StudentPlanner</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <meta name="google-signin-client_id" content="116913806208-qgltb7788p7ab41o5fbh00dm74ier1fd.apps.googleusercontent.com.apps.googleusercontent.com">
  </head>

  <body>
    <%= yield %>
  </body>
</html>
